# Node / RN
node_modules/
npm-debug.log*
yarn-*.log*
pnpm-lock.yaml
dist/
build/
coverage/
.expo/
.expo-shared/

# Android / iOS
android/.gradle/
android/app/build/
ios/build/

# VSCode / SO
.vscode/
.DS_Store
Thumbs.db

# Ambiente/segredos
.env
.env.*
FrontEnd/.env
BackEnd/.env

# Uploads / artefatos
uploads/
BackEnd/uploads/
*.zip

# Logs
*.log
BackEnd/logs/
